final_kommentare.json
[{"id":"3e6b79c9.1c8a56","type":"tab","label":"WebMidi","disabled":false,"info":""},{"id":"43a011b2.03566","type":"inject","z":"3e6b79c9.1c8a56","name":"","topic":"","payload":"{\"topic\":\"midi/test\",\"payload\":\"100\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["a3e24193.fc975"]]},{"id":"8ed94d1c.c5721","type":"http response","z":"3e6b79c9.1c8a56","name":"","statusCode":"200","headers":{},"x":680,"y":640,"wires":[]},{"id":"5f6c192.1a007e8","type":"http in","z":"3e6b79c9.1c8a56","name":"","url":"/webmidi","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["6fc489ca.66bd18"]],"info":"<http://localhost:1880/webmidi>"},{"id":"6fc489ca.66bd18","type":"template","z":"3e6b79c9.1c8a56","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <script src=\"https://cdn.jsdelivr.net/npm/webmidi@2.0.0\"></script>\n    </head>\n    <body>\n        \n         <h1>Please connect your midi device</h1>\n         <ul id=\"log\"></ul>\n         \n         <script>\n         \n            var socket = new WebSocket(`ws://${document.location.host}/ws/webmidi`);\n            \n            function log(msg) {\n                document.getElementById(\"log\").insertAdjacentHTML('afterbegin', `<li>${msg}</li>`);\n            }\n            \n            function send(obj) {\n                socket.send(JSON.stringify(obj));\n            }\n             \n            socket.onopen = function () {\n                log(\"Websocket opened\");\n            };\n            \n            socket.onerror = function (errorEvent) {\n                log(\"Error! Websocket closed\");\n            };\n            \n            WebMidi.enable(function (err) {\n\n                if (err) {\n                    log(\"WebMidi could not be enabled.\");\n                    return;\n                } \n  \n                log(\"WebMidi enabled!\");\n                console.log(WebMidi.inputs);\n                console.log(WebMidi.outputs);\n                \n                //get the first midi input device\n                let input = WebMidi.inputs[1];\n                \n                input.addListener('noteon', 'all',\n                    function(e) {\n                        log(`Key Down: ${e.note.name} (Octave ${e.note.octave})`);\n                        send({ payload: e.note, topic: 'midi/noteon' });\n                    }\n                );\n                \n                input.addListener('noteoff', 'all',\n                    function (e) {\n                        log(`Key Up: ${e.note.name} (Octave ${e.note.octave})`);\n                        send({ payload: e.note, topic: 'midi/noteoff' });\n                    }\n                );\n       \n                input.addListener('controlchange', 'all',\n                    function (e) {\n                        log(`Controller ${e.controller.number}:  ${e.value} `);\n                        console.log(\"Received 'controlchange' message.\", e);\n                        send({ payload: {number: e.controller.number, value: e.value}, topic: 'midi/controlchange' });\n                    }\n                );\n                \n                         \n                input.addListener('pitchbend', 'all',\n                    function (e) {\n                        log(\"Received Pitch Bend ...\");\n                        console.log(\"Pitch Bend:\", e);\n                    }\n                );\n                \n  \n            });\n             \n         </script>\n         \n    </body>\n</html>","output":"str","x":540,"y":540,"wires":[["8ed94d1c.c5721"]]},{"id":"a3e24193.fc975","type":"websocket out","z":"3e6b79c9.1c8a56","name":"","server":"","client":"ca0b3b18.fda338","x":610,"y":300,"wires":[]},{"id":"d30a423e.86ce7","type":"comment","z":"3e6b79c9.1c8a56","name":"test the websocket connection","info":"","x":190,"y":260,"wires":[]},{"id":"4a551876.2ff218","type":"comment","z":"3e6b79c9.1c8a56","name":"website to send midi input to server","info":"<http://localhost:1880/webmidi>","x":200,"y":360,"wires":[]},{"id":"414c07b0.e4d678","type":"websocket in","z":"3e6b79c9.1c8a56","name":"","server":"de3b2972.77f968","client":"","x":140,"y":200,"wires":[["f418a185.73ad3"]]},{"id":"3b0fe12.501791e","type":"comment","z":"3e6b79c9.1c8a56","name":"receive webmidi via websocket","info":"","x":190,"y":160,"wires":[]},{"id":"b5c145ee.c57918","type":"debug","z":"3e6b79c9.1c8a56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":140,"wires":[]},{"id":"74774b84.98df84","type":"deconz-output","z":"3e6b79c9.1c8a56","name":"","server":"","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://localhost:1880/#flow/3e6b79c9.1c8a56","ancestorOrigins":{},"origin":"http://localhost:1880","protocol":"http:","host":"localhost:1880","hostname":"localhost","port":"1880","pathname":"/","search":"","hash":"#flow/3e6b79c9.1c8a56"},"jQuery341075571262925597991":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":4284,"namespace":""},{"type":"click","origType":"click","data":null,"guid":4294,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6180,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6188,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6615,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8020,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8028,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8590,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8598,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9063,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9071,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10124,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10132,"namespace":""},{"type":"click","origType":"click","guid":10423,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"bri","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":1450,"y":200,"wires":[]},{"id":"f418a185.73ad3","type":"switch","z":"3e6b79c9.1c8a56","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"midi/controlchange","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":80,"wires":[["510dbe31.8b65b","4cc61802.a00178","1d43ec1b.6f1924"]]},{"id":"510dbe31.8b65b","type":"switch","z":"3e6b79c9.1c8a56","name":"","property":"payload.number","propertyType":"msg","rules":[{"t":"eq","v":"57","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":180,"wires":[["116b6b69.eae115"]]},{"id":"116b6b69.eae115","type":"change","z":"3e6b79c9.1c8a56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":160,"wires":[["b5c145ee.c57918","5ed11c3e.110184"]]},{"id":"5ed11c3e.110184","type":"range","z":"3e6b79c9.1c8a56","minin":"0","maxin":"127","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":1200,"y":100,"wires":[["aaff5bca.df1748"]]},{"id":"aaff5bca.df1748","type":"rbe","z":"3e6b79c9.1c8a56","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1290,"y":240,"wires":[["74774b84.98df84"]]},{"id":"4cc61802.a00178","type":"switch","z":"3e6b79c9.1c8a56","name":"","property":"payload.number","propertyType":"msg","rules":[{"t":"eq","v":"59","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":420,"wires":[["ef6b2cee.d95d1"]]},{"id":"d4c91cfd.abe67","type":"deconz-output","z":"3e6b79c9.1c8a56","name":"","server":"","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://localhost:1880/#flow/3e6b79c9.1c8a56","ancestorOrigins":{},"origin":"http://localhost:1880","protocol":"http:","host":"localhost:1880","hostname":"localhost","port":"1880","pathname":"/","search":"","hash":"#flow/3e6b79c9.1c8a56"},"jQuery341075571262925597991":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":4284,"namespace":""},{"type":"click","origType":"click","data":null,"guid":4294,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6180,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6188,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6615,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8020,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8028,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8590,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8598,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9063,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9071,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10124,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10132,"namespace":""},{"type":"click","origType":"click","guid":10423,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"sat","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":1870,"y":360,"wires":[]},{"id":"ef6b2cee.d95d1","type":"change","z":"3e6b79c9.1c8a56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":380,"wires":[["f971cdb0.36f69","ce02c5eb.73cd58","4b1fb161.5309d"]]},{"id":"ce02c5eb.73cd58","type":"range","z":"3e6b79c9.1c8a56","minin":"0","maxin":"127","minout":"1","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":1460,"y":320,"wires":[["d4c91cfd.abe67"]]},{"id":"f971cdb0.36f69","type":"debug","z":"3e6b79c9.1c8a56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":520,"wires":[]},{"id":"86a6c164.24feb","type":"deconz-output","z":"3e6b79c9.1c8a56","name":"","server":"","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://localhost:1880/#flow/3e6b79c9.1c8a56","ancestorOrigins":{},"origin":"http://localhost:1880","protocol":"http:","host":"localhost:1880","hostname":"localhost","port":"1880","pathname":"/","search":"","hash":"#flow/3e6b79c9.1c8a56"},"jQuery341075571262925597991":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":4284,"namespace":""},{"type":"click","origType":"click","data":null,"guid":4294,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6180,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6188,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6615,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8020,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8028,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8590,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8598,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9063,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9071,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10124,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10132,"namespace":""},{"type":"click","origType":"click","guid":10423,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"bri","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":1570,"y":720,"wires":[]},{"id":"96a30bd3.51ce88","type":"deconz-output","z":"3e6b79c9.1c8a56","name":"","server":"","device":{"length":0,"prevObject":{"length":0,"prevObject":{"0":{"location":{"href":"http://localhost:1880/#flow/3e6b79c9.1c8a56","ancestorOrigins":{},"origin":"http://localhost:1880","protocol":"http:","host":"localhost:1880","hostname":"localhost","port":"1880","pathname":"/","search":"","hash":"#flow/3e6b79c9.1c8a56"},"jQuery341075571262925597991":{"events":{"mouseup":[{"type":"mouseup","origType":"mouseup","guid":3,"namespace":""}],"click":[{"type":"click","origType":"click","data":null,"guid":4284,"namespace":""},{"type":"click","origType":"click","data":null,"guid":4294,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6180,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6188,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6607,"namespace":""},{"type":"click","origType":"click","data":null,"guid":6615,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8020,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8028,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8590,"namespace":""},{"type":"click","origType":"click","data":null,"guid":8598,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9063,"namespace":""},{"type":"click","origType":"click","data":null,"guid":9071,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10124,"namespace":""},{"type":"click","origType":"click","data":null,"guid":10132,"namespace":""},{"type":"click","origType":"click","guid":10423,"namespace":"red-ui-menu"}]},"focusin":3}},"length":1}}},"device_name":"","command":"hue","commandType":"deconz_cmd","payload":"payload","payloadType":"msg","transitionTime":"","x":1870,"y":440,"wires":[]},{"id":"1d43ec1b.6f1924","type":"switch","z":"3e6b79c9.1c8a56","name":"","property":"payload.number","propertyType":"msg","rules":[{"t":"eq","v":"63","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":540,"wires":[["9aa14622.e926e8"]]},{"id":"9aa14622.e926e8","type":"change","z":"3e6b79c9.1c8a56","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":580,"wires":[["a0f5304e.8ebe1","8379ab72.d80688"]]},{"id":"a0f5304e.8ebe1","type":"range","z":"3e6b79c9.1c8a56","minin":"1","maxin":"127","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"","x":1260,"y":680,"wires":[["86a6c164.24feb"]]},{"id":"8379ab72.d80688","type":"debug","z":"3e6b79c9.1c8a56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":560,"wires":[]},{"id":"3a22e0a7.6fd69","type":"comment","z":"3e6b79c9.1c8a56","name":"es wird nach Regler wird gefiltert  (Attribut: controlchange)","info":"","x":410,"y":40,"wires":[]},{"id":"58a737d2.bbacd8","type":"comment","z":"3e6b79c9.1c8a56","name":"der Input von dem Regler 57 wird gefiltert","info":"","x":720,"y":120,"wires":[]},{"id":"8c4cbf8f.0f03c","type":"comment","z":"3e6b79c9.1c8a56","name":"ein range wird eingestellt 0-255 (brightness) ","info":"","x":1250,"y":60,"wires":[]},{"id":"6569f8b8.3295e8","type":"comment","z":"3e6b79c9.1c8a56","name":"der Input von dem Regler 59 wird gefiltert","info":"","x":780,"y":360,"wires":[]},{"id":"8b648142.1faee","type":"comment","z":"3e6b79c9.1c8a56","name":"der Input von dem Regler 63 wird gefiltert","info":"","x":780,"y":480,"wires":[]},{"id":"4b1fb161.5309d","type":"range","z":"3e6b79c9.1c8a56","minin":"0","maxin":"127","minout":"1","maxout":"65535","action":"scale","round":false,"property":"payload","name":"","x":1560,"y":400,"wires":[["96a30bd3.51ce88"]]},{"id":"8ee5aa13.b14af8","type":"comment","z":"3e6b79c9.1c8a56","name":"ein range wird eingestellt 0-255 (saturation) ","info":"","x":1560,"y":280,"wires":[]},{"id":"dcff3990.defba8","type":"comment","z":"3e6b79c9.1c8a56","name":"ein range wird eingestellt 0-65535 (hue) ","info":"","x":1490,"y":440,"wires":[]},{"id":"411c2698.3c3728","type":"comment","z":"3e6b79c9.1c8a56","name":"ein range wird eingestellt 0-255 (brightness) ","info":"","x":1370,"y":640,"wires":[]},{"id":"ca0b3b18.fda338","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/webmidi","tls":"","wholemsg":"false"},{"id":"de3b2972.77f968","type":"websocket-listener","z":"","path":"/ws/webmidi","wholemsg":"true"}]